@font-face {
    font-family: 'Anonymous Pro';
    src: url(/fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url(/fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', sans-serif;
}

body {
    background: #f1f1f1;
}


h1, h2, h3, h4 {
    color: #121723;
}

nav {
    padding: 30px 0 15px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
}
header {
    display: flex;
    justify-content: center;
    background: #fff;
    border-bottom: #676B73 solid 1px;
}
.logo-img {
    width: 212px;
    height: 63.24px;
}

.contacts {
    display: flex;
    list-style: none;
    column-gap: 24px;
}
.contact a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}


main {
    display: flex;
    justify-content: center;
}
.sneaker {
    width: 79.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #fff;
    border-radius: 50px;
    margin: 32px 0;
    padding: 48px;
    box-sizing: border-box;
}
.sneaker-img {
    height: 600px;
}
.text-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text-section h1 {
    font-size: 48px;
    font-weight: 400;
}
.text-section h2 {
    font-size: 36px;
    font-weight: 400;
}
.description-section {
    display: flex;
    gap: 32px;
}
.story {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 48.47%;
}
.story p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.texnical-information {
    width: 48.47%;
}
.texnical-information-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.texnical-information-block {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.texnical-information-block-with-border {
    border-top: #121723 solid 1px;
    border-bottom: #121723 solid 1px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
}
footer nav {
    border-bottom: solid rgba(230, 232, 236, 0.4) 2px;
    width: 1160px;
    justify-content: space-between;
    height: 60px;
}
footer a, footer h4 {
    color: #fff !important;
}
.footer-text {
    color: #A1A6B4;
    text-align: center;
    margin: 24px 0;
    font-weight: 700;
    font-size: 16px;
}
footer a, footer ul {
    margin: 0 !important;
}
.logo-img-footer {
    width: 299.653px;
    height: 22.32px;
}





@media screen and (min-width: 750px) and (max-width: 1245px) {
    nav {
        padding: 20px 0 10px 0 ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 750px;
    }
    .logo-img {
        width: 142px;
        height: 43px;
    }
    .contacts {
        column-gap: 14px;
    }
    .contact a {
        font-size: 14px;
    }

    footer nav {
        width: 750px;
        height: 30px;
        border-width: 1px;
    }
    .footer-text {
        margin: 14px 0;
        font-size: 12px;
    }
    .logo-img-footer {
        width: 199px;
        height: 15px;
    }
}

@media screen and (max-width: 750px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 24px 16px;
        padding: 0;
    }
    .contacts {
        gap: 24px;
        font-size: 20px;
    }
    .logo {
        width: 215px;
        height: 64px;
    }

    
    .sneaker {
        width: 91.47%;
        padding: 24px;
        border-radius: 12px;
    }
    .sneaker-img {
        height: 172px;
    }
    .text-section {
        gap: 24px;
    }
    .text-section h1 {
        font-size: 32px;
    }
    .text-section h2 {
        font-size: 20px;
    }
    .description-section {
        flex-direction: column;
        width: 100%;
    }
    .story {
        width: 100%;
    }
    .texnical-information {
        width: 100%;
    }

    footer nav {
        justify-content: center;
        gap: 32px;
        margin: 32px 16px 0 16px;
        width: 91.47%;
        height: 74px;
        padding-bottom: 24px;
    }
    .footer-text {
        font-size: 16px;
    }

    .logo-img-footer {
        width: 300px;
        height: 22px;
    }
}